{% extends "student/studentView.html" %}

{% block mainContent %}

<div class="partialView">
    <div id="calendar"></div>

</div>

<!--Struktura okienka wyskakujacego po kliknieciu na zajęcia w planie zajęć-->
<dialog id="eventDialog">
    <div class="dialog-header">
        <h2 class="dialog-title"></h2>
        <button class="close-button" onclick="document.getElementById('eventDialog').close();">X</button>
    </div>
    <div class="dialog-content">
        <p class="dialog-description"></p>
        <div class="dialog-details"></div> <!-- Nowe miejsce na szczegóły -->
    </div>
</dialog>

{% endblock %}