{% extends "teacher/teacherView.html" %}

{% block mainContent %}

<div class="partialView">
    <h2>Zarządzanie klasą</h2>

    {% if is_leader %}
        <h3>Twoje klasy i uczniowie</h3>
        {% for class_name, students in students_for_classes.items() %}
            <h4>{{ class_name }}</h4>
            <table border="1">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Numer telefonu</th>
                        <th>Adres</th>
                        <th>Rodzic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.phoneNumber }}</td>
                            <td>{{ student.address }}</td>
                            <td>Brak</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>Nie jesteś wychowawcą, więc nie masz dostępu do listy uczniów.</p>
    {% endif %}

</div>

{% endblock %}
