{% extends "teacher/teacherView.html" %}

{% block mainContent %}

<div class="partialView">
    <h1>Plan lekcji</h1>

    <div id='calendar2'></div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar2');


        // Funkcja renderowania kalendarza dla wybranej klasy
        function renderCalendar() {
            fetch('/getTeacherLessons', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(events => {
                    // Tworzenie nowego kalendarza
                    window.currentCalendar = new FullCalendar.Calendar(calendarEl, {
                        firstDay: 1,
                        height: 650,
                        initialView: 'dayGridMonth',
                        slotMinTime: '08:00:00',
                        slotMaxTime: '20:00:00',
                        events: events,
                        locale: 'pl',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        buttonText: {
                            today: 'Dziś',
                            month: 'Miesiąc',
                            week: 'Tydzień',
                            day: 'Dzień'
                        },
                        eventClick: function (info) {
                            alert(`Przedmiot: ${info.event.title}\nW sali numer: ${info.event.extendedProps.room}\nZ klasą: ${info.event.extendedProps.class_name}`);
                        }
                    });

                    window.currentCalendar.render(); // Renderowanie kalendarza
                })
                .catch(error => failureCallback(error));
        }

        renderCalendar();
    });


</script>

{% endblock %}