{% extends "teacher/teacherView.html" %}

{% block mainContent %}

<div class="partialView">
    <h1>Plan lekcji</h1>

    <div id='calendar2'></div>
    <div id="lessonModal" class="modalEdit">
        <div class="modalEdit-content">
            <span class="closeEdit">&times;</span>
            <h2>Informacje o lekcji</h2>
            <p><strong>Przedmiot:</strong> <span id="lessonSubject"></span></p>
            <p><strong>Klasa:</strong> <span id="lessonClass"></span></p>
            <p><strong>Godzina rozpoczęcia:</strong> <span id="lessonStartTime"></span></p>
            <p><strong>Numer sali:</strong> <span id="lessonRoom"></span></p>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar2');

        // Funkcja renderowania kalendarza dla wybranej klasy
        function renderCalendar() {
            fetch('/getTeacherLessons', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(events => {
                    // Tworzenie nowego kalendarza
                    window.currentCalendar = new FullCalendar.Calendar(calendarEl, {
                        firstDay: 1,
                        height: 650,
                        initialView: 'dayGridMonth',
                        slotMinTime: '08:00:00',
                        slotMaxTime: '20:00:00',
                        events: events,
                        locale: 'pl',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        buttonText: {
                            today: 'Dziś',
                            month: 'Miesiąc',
                            week: 'Tydzień',
                            day: 'Dzień'
                        },
                        
                        eventClick: function (info) {
                            // Uzupełnienie modal z danymi o lekcji
                            document.getElementById('lessonSubject').innerText = info.event.title;
                            document.getElementById('lessonClass').innerText = info.event.extendedProps.class_name;
                            document.getElementById('lessonStartTime').innerText = info.event.start.toLocaleString(); // Data i godzina
                            document.getElementById('lessonRoom').innerText = info.event.extendedProps.room;

                            // Wyświetlenie modala
                            document.getElementById('lessonModal').style.display = 'block';
                        }
                    });

                    window.currentCalendar.render(); // Renderowanie kalendarza
                })
                .catch(error => failureCallback(error));
        }

        

        renderCalendar();

        // Zamknięcie modala po kliknięciu na "X"
        document.querySelector('.closeEdit').onclick = function () {
            document.getElementById('lessonModal').style.display = 'none';
        };

        // Zamknięcie modala, jeśli klikniesz poza jego obszarem
        window.onclick = function (event) {
            if (event.target == document.getElementById('lessonModal')) {
                document.getElementById('lessonModal').style.display = 'none';
            }
        };
    });


</script>

{% endblock %}