{% extends "index.html" %}

{% block content %}
<div class="sidebar">
    <a href="/scheduleParent">Plan zajęć</a>
    <a href="/gradesParent">Oceny</a>
    <a href="/attendanceParent">Frekwencja</a>
    <a href="/messagesParent">Wiadomości</a>
    <a href="#">...</a>
    <a href="#">...</a>
    <a href="/settings">Ustawienia</a>

    {% if profession == "administracja" %} 
        <a href="/register">Stwórz konto</a>
    {% endif %}

    <a href="/logout">Wyloguj</a>
</div>


<div class="main-content">

    {% block mainContent %}


    <h1>Witaj w CLASSMATE!</h1>
    <p>Witamy w elektronicznym dzienniku szkolnym</p>

    <!-- proponuje dac powiadomienia na głównej, narazie to tylko prototyp *? -->
    <div class="notifications">
        <h2>Powiadomienia</h2>
        <div class="notification">
            <h3>Nowa ocena z matematyki</h3>
            <p>Otrzymałeś ocenę 5 z ostatniego testu z matematyki.</p>
        </div>
        <div class="notification">
            <h3>Nieobecność na lekcji</h3>
            <p>Opuściłeś lekcję biologii dnia 10.11.2024.</p>
        </div>
        <div class="notification">
            <h3>Nowa wiadomość od nauczyciela</h3>
            <p>Sprawdź nową wiadomość od nauczyciela z historii.</p>
        </div>
        <div class="notification">
            <h3>Nowa ocena z matematyki</h3>
            <p>Otrzymałeś ocenę 5 z ostatniego testu z matematyki.</p>
        </div>
        <div class="notification">
            <h3>Nieobecność na lekcji</h3>
            <p>Opuściłeś lekcję biologii dnia 10.11.2024.</p>
        </div>
        <div class="notification">
            <h3>Nowa wiadomość od nauczyciela</h3>
            <p>Sprawdź nową wiadomość od nauczyciela z historii.</p>
        </div>
        <div class="notification">
            <h3>Nowa ocena z matematyki</h3>
            <p>Otrzymałeś ocenę 5 z ostatniego testu z matematyki.</p>
        </div>
        <div class="notification">
            <h3>Nieobecność na lekcji</h3>
            <p>Opuściłeś lekcję biologii dnia 10.11.2024.</p>
        </div>
        <div class="notification">
            <h3>Nowa wiadomość od nauczyciela</h3>
            <p>Sprawdź nową wiadomość od nauczyciela z historii.</p>
        </div>

    </div>
    {% endblock %}


</div>

{% endblock %}