* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla całego dokumentu */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(245, 207, 138);
    color: #FF9F1C;
    padding: 2rem;
}

/* Główna sekcja logowania */
section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Nagłówki */
h1 {
    font-size: 1rem;
    color: #1f7e75;
    margin-bottom: 0rem;
}

h2 {
    font-size: 3rem;
    color: #FF9F1C;
    margin-bottom: 2rem;
}

/* Formularz */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

/* Etykiety */
form label {
    font-size: 1em;
    color: #333;
    text-align: left;
}

/* Pola tekstowe */
form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Przyciski */
form button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #1f7e75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #136358;
}

/* Wiadomości o błędach */
ul {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    color: #FF4D4D;
    font-size: 0.9em;
}

/* Linki i inne elementy */
a {
    color: #1f7e75;
    text-decoration: none;
    font-weight: bold;
    margin:2rem;
}

a:hover {
    text-decoration: underline;
}

.btn {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #CBF3F0;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
}

.btn:hover{
    background-color: #1c6f67;
}