/* 
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ececec; 
    color: black;
}

.content-section {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:#0d4e98; 
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #3E2723;
    margin-top: 50px;
}

.menu_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ad834b;
    padding: 10px;
    font-family: centaur;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    position: relative; 
    flex-wrap: wrap;
}

.menu_bar > div {
    position: relative; 
}

.menu_bar a {
    text-decoration: none; 
    color: black;
    transition: color 0.3s ease;
    margin-left: 4px;
    margin-right: 4px;
    padding: 5px;
}

.menu_bar a:hover {
    color: white;
}

.menu_bar a:active {
    color: yellow;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: inherit;
    border:none;
    cursor: pointer;
    font-size: 16px;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ad834b;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #6A704C;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
}

.header {
    display: flex;
    align-items: flex-end; 
    justify-content: space-between; 
    padding: 10px; 
    color: black; 
    font-family: centaur;
    border-bottom: 10px solid #3E2723;
    padding-bottom: 5px;
}

.header h1{
    color: white; 
    font-family: Onyx;
    font-size:60px;
    letter-spacing: 5px;
    margin: 0;
    font-weight: lighter;
    
}

.header h3 {
    font-size: 20px;
    margin: 0;
    padding-left: 20px;
    
}

.header a {
    text-decoration: none; 
    color: black;
    font-size: 20px;
    padding-right: 20px;
    
}

.header a:hover{
    color: white;
}

.username{
    color: #800000;
    font-weight: bold;
}

img{
    width: 160px;
    
}

form {
    margin-bottom: 20px;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

input, button {
    margin-top: 5px;
    background-color: #333; 
    color: #fff; 
    border: 2px solid #6A704C;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    
}

button:hover{
    background-color: yellow;
    color: black;
}

textarea{
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: 1px solid #6A704C;
    border-radius: 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  
    margin: 10px;
}

.billItems{
    list-style-type:circle;
}

li {
    margin: 10px;
    padding: 10px;
    background-color: #3E2723;
    border-radius: 5px;
    color: white;
    width: 30%;  
    box-sizing: border-box; 
}


opi{
    color:#6A704C;
}


:root{
    --fc-today-bg-color:#582f1d;
}

.fc .fc-col-header-cell-cushion { 
    padding:20px;
}

.container{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}


.table {
    width: 100%; 
    border-collapse: collapse; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}


.table thead th {
    background-color: #6A704C;
    color: white; 
    padding: 10px; 
    text-align: left; 
    border-bottom: 2px solid #ddd;
    cursor: pointer;
}


.table tbody td {
    color:#333;
    padding: 10px; 
    border-bottom: 1px solid #440a0a; 
    text-align: left;
}


.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}


.table tbody tr:nth-child(even) {
    background-color: #ffffff; 
}

.table tbody td:first-child {
    font-weight: bold; 
}


.table tbody td:nth-child(6) {
    color: #e67e22; 
}


.table tbody td:last-child {
    font-weight: bold; 
    text-align: center; 
    
}

.wolny{
    color: #5cb85c; 
}

.zajety{
    color: #ec1d16; 
}

.okno_zakwaterowanie{
    display: flex;
    flex-wrap: wrap;
}

.rejestracja, .tabela_pokoje{
    width: 50%;
}

@media (max-width: 1080px) {
    .rejestracja,
    .tabela_pokoje {
        width: 100%; 
    }
}

.custom-select{
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc; 
    padding: 8px; 
    font-size: 16px; 
    border-radius: 4px; 
    margin:6px;
}

.gornaSekcja{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.sekcjaKategoria, .sekcjaWyszukaj{
    width: 50%;
}

@media (max-width: 1080px){
    .sekcjaKategoria,
    .sekcjaWyszukaj {
        width: 100%;
    }
}

.sekcjaRachunek{
    display: flex;
    flex-wrap: wrap;
}

.listaZamowienia, .podsumowanieRachunku{
    width: 50%;
}

@media (max-width: 100%){
    .listaZamowienia,
    .podsumowanieRachunku {
        width: 100%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f8;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    color: #FF9F1C;
    padding: 2rem;
}

.header {
background-color: #1f7e75;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
color: white;
top:40px;
width: 90%;
max-width: 100rem;
z-index: 1000;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
border-radius: 10px; 
margin-bottom: 1rem;
}

.header-left {
display: flex;
align-items: center;
}

.header-left a{
    text-decoration: none;
    color: white;
}

/* .logo {
height: 40px;
margin-right: 10px;
}

.logo-text {
font-size: 1.5em;
font-weight: bold;
color: white;
text-decoration: none;
} */

.header-right {
display: flex;
align-items: center;
}

.welcome {
margin-right: 20px;
font-size: 1em;
}

.logout {
color: black;
text-decoration: none;
padding: 5px 10px;
background-color: #CBF3F0;
border-radius: 5px;
transition: background-color 0.3s;
}

.logout:hover {
background-color: #1c6f67;
}

.container {
    width: 90%;
    max-width: 100rem;
    display: flex;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.partialView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.sidebar {
    width: 20%;
    background-color:#FFBF69;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.sidebar h2 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #FF9F1C;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #2EC4B6;
}


.main-content {
    width: 80%;
    padding: 40px;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FF9F1C;
}

.notifications {
    margin-top: 30px;
    border-top: 2px solid #e0e0e0;
    padding-top: 20px;
}

.notification {
    padding: 10px;
    margin: 10px 0;
    background-color: #f8fafc;
    border-left: 4px solid #FF9F1C;
    border-radius: 4px;
}

.notification h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.notification p {
    font-size: 0.9em;
    color: #666;
}

#calendar {
    width: 100%;
    max-width: 1200px; /* Maksymalna szerokość */
    margin: 0 auto;    /* Wycentrowanie */
}

.decision-bar{
    display: flex;
    justify-content: space-between;
}

.decision-bar select, .decision-bar a{
    color: black;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #CBF3F0;
    border-radius: 5px;
    transition: background-color 0.3s;
    border:1px solid #333;
}

.mainWindow{
    display: flex;
    justify-content: space-between;
}

.mainWindow a{
    color: black;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #CBF3F0;
    border-radius: 5px;
    transition: background-color 0.3s;
    border:1px solid #333;
}

.addingGrade select, .addingGrade input{
    color: black;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #CBF3F0;
    border-radius: 5px;
    transition: background-color 0.3s;
    border:1px solid #333;
}

