{% extends "index.html" %}

{% block content %}
<div class="partialView">
    <div class="header">
        <button class="back-button" onclick="history.back()">Powrót</button>
        <h1>Ustawienia</h1>
    </div>

    <form method="POST" action="{{ url_for('settings.settings') }}">
        <h2>Dane osobowe</h2>

        <label for="firstName">Imię:</label>
        <input type="text" id="firstName" name="firstName" value="{{ firstName }}" required>

        <label for="lastName">Nazwisko:</label>
        <input type="text" id="lastName" name="lastName" value="{{ lastName }}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}" required>

        <label for="phoneNumber">Numer telefonu:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="{{ phoneNumber }}" required>

        <label for="address">Adres:</label>
        <input type="text" id="address" name="address" value="{{ address }}" required>

        <label for="password">Nowe hasło:</label>
        <input type="password" id="password" name="password" placeholder="Wpisz nowe hasło">

        <label for="confirmPassword">Potwierdź hasło:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Potwierdź nowe hasło">

        <button type="submit">Zapisz zmiany</button>
    </form>
</div>

<style>
    h1 {
        color: white;
    }
    .partialView {
        max-width: 600px;
        margin: 50px auto;
        font-family: Arial, sans-serif;
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .partialView .header {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .partialView h1 {
        color: #333;
        margin: 0;
        font-size: 24px;
    }
    
    .partialView form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }
    
    .partialView label {
        font-weight: bold;
        color: #555;
    }
    
    .partialView input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .partialView button {
        background: #2EC4B6;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

    }
    
    .partialView button:hover {
        background: #136358;
    }
    
    .back-button {
        background: #007BFF;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .back-button:hover {
        background: #0056b3;
    }
</style>

{% endblock %}
