{% extends "administration/administrationView.html" %}

{% block mainContent %}

<h1>Edytowanie klasy</h1>

<a href="/classManagement" class="btn">Wróć</a><br>
<button type="button" id="addStudentsButton" class="btn">Dodaj uczniów</button><br>


<form method="POST">
    <label for="class_name">Nazwa klasy:</label>
    <input type="text" id="class_name" name="class_name" value=" {{ class_data[2] }}"  required>

    <label for="id_teacher">Wychowawca:</label>
    <input type="text" id="id_teacher" name="id_teacher" value=" {{ class_data[1] }}">
    <button type="button" id="changeTeacherButton" class="btn">Zmień</button>
    
    <!-- Modal -->
    <div id="teacherModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Wybierz wychowawcę</h2>
            <form id="changeTeacherForm">
                <table id="teachersTable" class="table">
                    <thead>
                        <tr>
                            <th>Wybierz</th>
                            <th>Imię i nazwisko</th>
                        </tr>
                    </thead>
                    <tbody id="teachersTableBody">
                        <!-- Lista nauczycieli zostanie załadowana przez JS -->
                    </tbody>
                </table>
                <button type="button" id="confirmChangeTeacher" class="btn">Zmień wychowawcę</button>
            </form>
        </div>
    </div>

    <h2>Uczniowie w klasie:</h2>
    <table id="studentTable" class="table">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            {% for student in students %}
                <tr>
                    <td>{{ student }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <!-- Modal -->
<div id="studentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Wybierz uczniów do dodania</h2>
        <form id="addStudentsForm">
            <table id="unassignedStudentsTable" class="table">
                <thead>
                    <tr>
                        <th>Wybierz</th>
                        <th>Imię i nazwisko</th>
                    </tr>
                </thead>
                <tbody id="unassignedStudentsBody">
                    <!-- Lista uczniów zostanie załadowana przez JS -->
                </tbody>
            </table>
            <button type="button" id="confirmAddStudents" class="btn">Dodaj uczniów</button>
        </form>
    </div>
</div>


    <button type="submit" class="btn">Zapisz zmiany</button>
</form>


<script>


document.getElementById('changeTeacherButton').onclick = function () {
        const modal = document.getElementById('teacherModal');
        const myInput = document.getElementById('id_teacher');
        modal.style.display = 'block';

        // Pobierz listę nauczycieli
        fetch('/getTeachersList')
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('teachersTableBody');
                tbody.innerHTML = ''; // Wyczyść poprzednie dane
                data.forEach(teacher => {
                    const row = document.createElement('tr');

                    // Checkbox
                    const checkboxCell = document.createElement('td');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'radio';
                    checkbox.name = 'teacher'; // Tylko jeden wybór
                    checkbox.value = teacher.id; // Przechowuje ID nauczyciela
                    checkbox.dataset.name = teacher.name;
                    checkboxCell.appendChild(checkbox);
                    row.appendChild(checkboxCell);

                    // Imię i nazwisko
                    const nameCell = document.createElement('td');
                    nameCell.textContent = teacher.name;
                    row.appendChild(nameCell);

                    tbody.appendChild(row);
                });
            })
            .catch(error => console.error('Błąd podczas pobierania nauczycieli:', error));
    };

    // Zamknięcie modala
    document.querySelector('.close').onclick = function () {
        document.getElementById('teacherModal').style.display = 'none';
    };

    // Zatwierdzenie zmiany wychowawcy
    document.getElementById('confirmChangeTeacher').onclick = function () {
        const selectedTeacher = document.querySelector('#teachersTableBody input[name="teacher"]:checked');
        if (selectedTeacher) {
            const teacherName = selectedTeacher.dataset.name;

            // Zapisanie ID wychowawcy do pola formularza
            document.getElementById('id_teacher').value = teacherName;

            // Zamknięcie modala
            document.getElementById('teacherModal').style.display = 'none';
        } else {
            alert('Proszę wybrać wychowawcę.');
        }
    };

    //modal do uczniow
    document.getElementById('addStudentsButton').onclick = function() {
        const modal = document.getElementById('studentModal');
        modal.style.display = 'block';
    
        // Pobierz listę uczniów bez klasy
        fetch('/getUnassignedStudents')
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('unassignedStudentsBody');
                tbody.innerHTML = ''; // Wyczyść poprzednie dane
                data.forEach(student => {
                    const row = document.createElement('tr');
    
                    // Checkbox
                    const checkboxCell = document.createElement('td');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.value = student.id; // Przechowuje ID ucznia
                    checkboxCell.appendChild(checkbox);
                    row.appendChild(checkboxCell);
    
                    // Imię i nazwisko
                    const nameCell = document.createElement('td');
                    nameCell.textContent = student.name;
                    row.appendChild(nameCell);
    
                    tbody.appendChild(row);
                });
            })
            .catch(error => console.error('Błąd podczas pobierania uczniów:', error));
    };
    
    function closeModal() {
    document.getElementById('studentModal').style.display = 'none';
    }

    document.querySelector('.close').onclick = closeModal;

    
    // Obsługa zatwierdzenia dodania uczniów
    document.getElementById('confirmAddStudents').onclick = function() {
        const checkboxes = document.querySelectorAll('#unassignedStudentsBody input[type="checkbox"]:checked');
        const selectedIds = Array.from(checkboxes).map(checkbox => checkbox.value);
    
        if (selectedIds.length > 0) {
            fetch('/assignStudentsToClass', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ student_ids: selectedIds, class_id: '{{ class_data[0] }}' })
            })
            .then(response => {
                if (response.ok) {
                    closeModal();
                    location.reload(); // Przeładuj stronę, aby zobaczyć zmiany
                    console.log('dodano uczniow');
                } else {
                    console.error('Błąd podczas dodawania uczniów');
                }
            });
        }
    };

    function updateStudentTable() {
    fetch('/getStudentsInClass/{{ class_data[0] }}')
        .then(response => response.json())
        .then(data => {
            const studentTableBody = document.getElementById('studentTableBody');
            studentTableBody.innerHTML = ''; // Wyczyść bieżące dane
            data.forEach(student => {
                const row = document.createElement('tr');
                const cell = document.createElement('td');
                cell.textContent = student;
                row.appendChild(cell);
                studentTableBody.appendChild(row);
            });
        })
        .catch(error => console.error('Błąd podczas odświeżania uczniów:', error));
}

    </script>
    


{% endblock %}


